.login {
    min-width: 320px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        padding: 8px 0;
        font-size: 14px;
        font-weight: bold;
        width: 50%;
    }
}

.logo {
    width: 30%;
    margin-bottom: 20px;
}